
<div class="foot">
    <div class="col-xs-12 col-md-4 big"></div>
    <div class="col-xs-12 col-md-8 small">
        <a href="/tnc">TERMS AND CONDITIONS | </a>
        <a href="/faqs">FAQS | </a>
        <a href="/privacy">PRIVACY POLICY | </a>
        <br>
            <a href="https://github.com" class="fa fa-github"></a>
            <a href="https://www.facebook.com" class="fa fa-facebook"></a>
            <a href="https://www.google.com" class="fa fa-google"></a>
            <a href="https://in.pinterest.com/" class="fa fa-pinterest"></a>
            <a href="https://in.yahoo.com/" class="fa fa-yahoo"></a><br> 
            Copyright © SCHOLARSPOINT. All Rights Reserved.
    </div>     
</div>
</body>
</html>