<% include ./partials/header %>
<div class="col-xs-12 me">

    <div id="timeline" class="col-xs-offset-1 col-xs-10">
		<h1>FAQS</h1><hr>
			<div class="left">
				<p><b>How many scholarships can a single student avail? Is there any limit to the number of scholarships that one student can get?</b><br>
                   Students can apply for as many scholarships as they wish. This, in fact, helps them to increase their chances of securing a scholarship. The limit of applications does not apply to all scholarship initiatives. Government scholarships generally allow students to benefit from any one program, but private scholarships seldom have such limitations.
                    </p>
			</div>
			<div class="right">
				<p><b>What is the reason for my scholarship application rejection?</b><br>I applied for scholarship but wasn't selected, can you suggest any improvements for my application?
                    Scholarship applications adhere to strict criteria of screening. Every scholarship program receives a number of applications ranging from a few hundred to as much as a few hundred thousand. Thus, it becomes imperative for the screening authorities to verify the complete information provided by the applicant. Incomplete applications are generally the ones to be rejected first. Check the complete application process guideline for each scholarship, provide complete necessary documents, and follow-up with your application. 
                    </p>
			</div>
			<div class="left">
				<p><b>Can migrant students apply for scholarships?</b><br>
                    Scholarships are always meant to benefit as many students as possible for the given eligibility criteria and scholarship fund availability. Scholarships are provided by State Governments in India which are generally based on applicant domicile conditions, which means that some migrant students are not able to apply for such programs. </p>
			</div>
			<div class="right">
				<p><b>How does the student get the scholarship amount? Is bank account necessary for getting scholarship amount?</b><br>
                    Depending on the kind of scholarship there are multiple ways in which the scholarship sum can be awarded to the student. Scholarships which provide tuition fee waiver can either pay the student's academic fees on their behalf to the educational institutions, or they can altogether waive the fees dues of the student. Similarly, compensatory scholarships provide reimbursement to students after they have paid their academic expenses.               
                     </p>
			</div>
		</div>
		
</div>
<% include ./partials/footer %> 