
<% include ./partials/header %>

<div class="col-xs-12 say">
        <div class="banner-image">
            <div class="inner-banner-image">
                <center>
                    <div class="banner_content">
                        <h1>FIND SCHOLARSHIPS</h1>
                        <p>Your dreams brought to life</p>
                        <a href="/s">
                        <center>
                        <input class="button" type="button" value="START NOW">
                        </center>
                        </a>
                    </div>
                </center>
            </div>
        </div>
    <div class="col-xs-12" style="background-color: #2C3531">
    <div class="xyz"><center>
        <p><b>A GREAT PLATFORM TO FIND THE RIGHT SCHOLARSHIP FOR YOU!</b><hr color="black"></p>
        <p>  Choosing the right scholarship can be a daunting task.<br>Here scholarships are just for you based on your strengths,
            skills and interests.<br>Find the perfect scholarship for your budget.<br>
        </p></center></div>
        <div>
            <div class="contain">
            <div class="col-xs-offset-1 col-xs-10 col-sm-4">
            <div class="card">
             <center><img class="ir" src="/images/means.jpg"></center>
             <div class="container">
            <p class="cardtext">MEANS BASED SCHOLARSHIPS</p>
            <div class="overlay">
                <div class="text">This category of scholarships consists of financial waivers for the ones whose family income falls in a certain criteria. Generally such scholarships involve documents such as income proofs.</div>
              </div>
             </div>
            </div>
            </div>
            </div>

            <div class="contain">
            <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/merit.jpg"></center>
             <div class="container">
            <p class="cardtext">MERIT BASED SCHOLARSHIPS</p>
            <div class="overlay">
                <div class="text">These scholarships are awarded to students who have performed extremely well in their academics. Such scholarships have high competition and require marksheets as proofs.</div>
              </div>
            </div>
            </div>
            </div>
        </div>
    </div>

        <div>
                <div class="contain">
            <div class="col-xs-offset-1 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/h.jpg"></center>
             <div class="container">
            <p class="cardtext">NEED BASED SCHOLARSHIPS</p>
            <div class="overlay">
                <div class="text">This category of scholarships is for specially-abled individuals. There are a lot of organizations which provide such scholarships.</div>
              </div>
            </div>
            </div>
             </div> 
            </div> 
             
             <div class="contain">
            <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/is.jpg"></center>
             <div class="container">
            <p class="cardtext">INTERNATIONAL SCHOLARSHIPS</p>
            <div class="overlay">
                <div class="text">This category lists scholarships for undergraduate and postgraduate student courses globally.</div>
              </div>
            </div>
             </div>
            </div>
            </div>

        </div>
        </div>
        </div>
    <% include ./partials/footer %> 
   
