<% include ./partials/header %>
<div class="sh">    
    <center>
        <hr>Information security<br>

        We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. 
        
        <hr>Data integrity<br>
        
        ppg processes personal information only for the purposes for which it was collected and in accordance with this Policy or any applicable service-specific privacy notice.
        
        <hr>Affiliated & Partner Sites<br>
        
        We may have affiliated websites who may provide similar or other kinds of services.
        
       <hr>Changes to this policy<br>
        
        Please note that this Privacy Policy may change from time to time. We will not reduce your rights under this Policy without your explicit consent, and we expect most such changes will be minor.
        
    
    </center></div>
<% include ./partials/footer %>