<% include ./partials/header %>
        <div class="namepic" style="width:100%">
                <hr>
                    <div class="col-xs-offset-1 col-sm-offset-3 col-md-offset-1 col-xs-9 col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading name"> <%=currentUser.username%></div>
                        <div class="panel-body details">
                        <i class="fa fa-calendar"></i>Date of birth: <%=data.dob%><hr>
                        <i class="fa fa-phone"></i>Contact number:  <%=data.phone%><hr>
                        Gender:
                    </div></div></div>
                    <div class="col-xs-12 col-md-6">                     
                    </div>
                </div>

<% include ./partials/footer %>