<% include ./partials/header %>

<div class="sh">    
<center>
In order to use certain features of the website, the user must register for an account. The user has to generate a password in connection with the account.

Removal of content – ppg reserves the right (but has no obligation) to remove, block, edit, move or disable user content that is objectionable to us for any reason.

Links to third-party sites, products and services – The website may include links or references to other web sites or services solely as a convenience to users (reference sites). ppg does not endorse any such reference sites, or the information, materials, products, or services contained on, or accessible through, reference sites

User content disclaimer – The users understand that when using the website, they will be exposed to user content from a variety of sources, and that ppg is not responsible for the accuracy, usefulness, or intellectual property rights of, or relating to, such user content.

Modification of the terms
ppg reserves the right to change, modify, add, or remove portions of the terms at any time at its discretion.

</center>
</div>
<% include ./partials/footer %>